h1 Share a new link!
form(method='POST', action='/createPost')

  p Subreddit: 
    select(name='subredditId')
     subreddit in subrredits
      option(value= #{subredditId}) FirstSubreddit
        - for (var i = 0; i < post.subreddit.length; ++i) {
        option = post.subreddit[i]
        - }
      
  p URL: 
    input(type='text', name='url')
    
  p Title: 
    input(type='text', name='title')
